/* basic style */
.main {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.main .title {
  margin: 0 auto;
}

.main .title .title-name {
  text-align: center;
}

.nav {
  border-bottom: 1px solid rgb(221, 221, 211);
  position: relative;
  overflow: hidden;
}

.nav .btn-group button:hover {
  border: 1px solid rgb(221, 221, 221);
}

.container {
  /*  */
  overflow: hidden;
  height: 400px;
}

.container-left {
  width: 70%;
  /* background: pink; */
  height: 100%;
}

.container-right {
  width: 30%;
  /* background: slateblue; */
  height: 100%;
}



/* public style */
.m0auto {
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.w970 {
  width: 970px;
}