<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mr. or Mrs. | AMiner</title>
    <meta name="description" content="北京信息科技大学">
    <meta name="author" content="北京信息科技大学">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/app.min.css">
    <link rel="stylesheet" href="/static/css/vendor.min.css">
    <link rel="stylesheet" href="/static/css/cssReset.css">
  </head>
  <body class="aminer-style-2 desktop-detected">
    <div id="main" style="margin:0;">
      <!-- 导航 -->
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <ul id="searchTab" style="border-bottom:1px solid lightgrey" class="nav nav-tabs">
              <li class="active"><a href="/" class="binding">主页</a></li>
              <li><a href="#">API文档</a></li>
              <li><a href="#">算法说明</a></li>
              <li><a href="./result" >结果显示</a></li>
              <li><a href="./en">English</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 标题 -->
      <div class="container" id="input-area">
        <div class="row">
          <div style="margin-top:20px" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div style="margin-top:10px; margin-bottom:40px; font-size:30px; font-weight:600;" class="text-center ">
              欢迎, 先生/女士?<br/>学者学术寿命预测
            </div>
            <!-- 表单 -->
            <form name="form" class="form-horizontal">
              <fieldset>
                <div class="row">
                  <!-- 左侧输入款 -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label style="font-size:15px" class="col-sm-2 control-label text-right ">姓名</label>
                      <div class="col-sm-8">
                        <input id="name_input" type="text" name="name" style="padding-left: 12px; border-radius:4px!important" placeholder="输入一个名字试试看" class="form-control">
                      </div>
                    </div>
                  </div>
                  <!-- 右侧输入框 -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label style="font-size:15px" class="col-sm-2 control-label text-right ">年龄</label>
                      <div class="col-sm-8">
                        <input id="aff_input" type="text" name="affiliation" style="padding-left: 12px; border-radius:4px!important" placeholder="补充您的周岁年龄" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div style="margin-top:18px;" class="text-center">
              <button style="margin-right:10px;padding-left:40px;padding-right:40px;border-radius:4px;" id="resetBtn" class="btn btn-default ">重置</button>
              <button style="margin-left:10px;padding-left:40px;padding-right:40px;border-radius:4px;" id="submitBtn" class="btn btn-primary ">提交</button>
            </div>
            <div style="margin-top:10px; font-size:14px;" class="text-center ">
              P.S. English supported only
            </div>
          </div>
        </div>
        <hr>
      </div>
      <!-- loading bar -->
      <div style="margin-top:20px;" class="container" id="loading">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" id="progress-bar">
          </div>
        </div>
      </div>
      <!-- result -->
      <div style="margin-top:20px;" class="container" id="result">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="page-header">
              <h1 class='tac mb-2'>您学术寿命为</h1>
              <div class="alert alert-success tac" role="alert"><h3>25年</h3></div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="page-header">
              <h1 class="tac mb-2">学术剩余寿命</h1>
              <div class="alert alert-success tac" role="alert"><h3>8年</h3></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 tac">
            <h3>您从事学术工作<span>"较早"</span>，学术职业生涯<span>"才刚刚起步"</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-lg-3">
            <img src="../static/icon/RF.png" alt="">
          </div>
          <div class="col-md-3 col-lg-3">
            <img src="../static/icon/ANN.png" alt="">
          </div>
          <div class="col-md-3 col-lg-3">
            <img src="../static/icon/ARIMA.png" alt="">
          </div>
          <div class="col-md-3 col-lg-3">
            <img src="../static/icon/HMM.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-lg-3">
            <h3 class="tac">RF</h3>
            An ANN is based on a collection of connected units or nodes called artificial neurons, which loosely model the neurons in a biological brain. Each connection, like the synapses in a biological brain, can transmit a signal from one artificial neuron to another. An artificial neuron that receives a signal can process it and then signal additional artificial neurons connected to it.
          </div>
          <div class="col-md-3 col-lg-3">
            <h3 class="tac">ANN</h3>
            Artificial neural networks (ANN) or connectionist systems are computing systems vaguely inspired by the biological neural networks and astrocytes that constitute animal brains. Such systems "learn" to perform tasks by considering examples, generally without being programmed with any task-specific rules. For example, in image recognition, they might learn to identify images that contain cats by analyzing example images that have been manually labeled as "cat" or "no cat" and using the results to identify cats in other images.
          </div>
          <div class="col-md-3 col-lg-3">
            <h3 class="tac">ARIMA</h3>
            In common ANN implementations, the signal at a connection between artificial neurons is a real number, and the output of each artificial neuron is computed by some non-linear function of the sum of its inputs. The connections between artificial neurons are called 'edges'. Artificial neurons and edges typically have a weight that adjusts as learning proceeds. The weight increases or decreases the strength of the signal at a connection. Artificial neurons may have a threshold such that the signal is only sent if the aggregate signal crosses that threshold.
          </div>
          <div class="col-md-3 col-lg-3">
            <h3 class="tac">HMM</h3>
            The original goal of the ANN approach was to solve problems in the same way that a human brain would. However, over time, attention moved to performing specific tasks, leading to deviations from biology. Artificial neural networks have been used on a variety of tasks, including computer vision, speech recognition, machine translation, social network filtering, playing board and video games and medical diagnosis.
          </div>
        </div>
      </div>
      <!-- 页脚 -->
      <div style="margin-top:20px;" class="container">
        <div style="margin-bottom:30px;" class="row">
          <div class="col-xs-12 col-md-12">
            <h4 class="">相关文献</h4>
            <table style="margin-top: 5px;">
              <tbody>
                <tr>
                  <td width="10%" valign="top">[Gu,&nbsp;&nbsp;&nbsp; 2016]</td>
                  <td style="text-align:left;" width="90%">
                    <span>Xiaotao Gu, Hong Yang, Jie Tang, and Jing Zhang. "Web user profiling using data redundancy." In Advances in Social Networks Analysis and Mining (ASONAM), 2016 IEEE/ACM International Conference on, pp. 358-365. IEEE, 2016.</span>
                  </td>
                </tr>
                <tr>
                  <td width="10%" valign="top">[Tang, 2008]</td>
                  <td style="text-align:left;" width="90%">
                    Jie Tang, Jing Zhang, Limin Yao, Juanzi Li, Li Zhang, and Zhong Su. "ArnetMiner: Extraction and Mining of Academic Social Networks." In Proceedings of the 14th ACM SIGKDD international conference on Knowledge discovery and data mining, pp. 990-998. ACM, 2008.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="container"  style="height:56px;">
          <div style="border-top:1px solid whitesmoke; margin-bottom:10px" class="row">
            <div style="padding-top: 5px; padding-left: 0;" class="col-xs-8">
              <ul class="footer-socials list-inline">
                <li class="">2005 - 2018 © AMiner. 保留所有权利 京ICP备17059297号-2</li>
                <li><a href="#" style="color:#428bca" class="tooltips ">联系我们</a></li>
                <li><a href="#" style="color:#428bca" class="tooltips ">关于我们</a></li>
                <li><a href="#" style="color:#428bca" class="tooltips ">合作伙伴</a></li>
                <li><a href="#" style="color:#428bca" class="tooltips ">期刊读者推荐</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="/static/components/jquery-1.11.0.min.js"></script>
  <script src="/static/components/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      // initial loading bar is hide
      $('#loading').attr("class","hide");
      $('#result').attr("class","hide");
      $("#resetBtn").click(function() {
        $('#name_input').val('');
        $('#aff_input').val('');
      });
      $("#submitBtn").click(function() {
        var name = $('#name_input').val();
        var aff = $('#aff_input').val();
        console.log(name, aff);
        // loading is show
        $('#loading').attr("class","show container");
        var progressBar = document.getElementById("progress-bar");
        var length = 0;
        var timer = setInterval(function() {
          length = length + 1;
          if (length <= 100) {
            progressBar.style.width = '' + length + '%';
          }
        }, 100);
        setTimeout(function() {
          clearInterval(timer);
          $('#loading').attr("class","hide");
          // $('#input-area').attr("class","hide");
          $('#result').attr("class","show container");
        }, 15000);
        // progressBar.style.width = '100%';
        try {
          // send data via ajax
          var form = new FormData();
          form.append("username", name);
          form.append("affiliation", aff);
          var url = "${pageContext.request.contextPath}/public/testupload";
        　$.ajax({
            url: url,
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success:function(data){
              console.log(data);
              // document.getElementById("#result") = data;
              $('#name_input').val('');
              $('#aff_input').val('');
            }
          });
          // send data via php
          var xhr = new XMLHttpRequest();
          xhr.open("post", "1.php");
          xhr.setRequestHeader("Content-type","application/x-www-form-urlencoeded");
          var info = "name=" + name + "affilication" + aff;
          xhr.send(info);
          xhr.onreadystatechange = function(){
            if(xhr.readyState == 4){
              var result =xhr.responseText;
              console.log(result);
              // document.getElementById("#result") = result;
            }
          }
        } catch(error) {
          console.log(error);
        }
      });
    });
  </script>
  </body>
</html>