<h3>编辑页</h3>

<form action="/books/<%= @book.id %>" method=POST>
  <input type='hidden' name='_method' value='PUT'/>

  书名: <input type="text" name="name" value="<%= @book.name %>"/></br>
  作者: <input type="text" name="author" value="<%= @book.author%>"/></br>
  <br/>
  <input type="submit" value="提交"/>

</form>
<br/>
<%= link_to '返回列表页', books_path%>
