<h3>新增页</h3>

<!--此处换成get方法后无法插入到
列表页中但是在地址栏会显示参数-->
<form action="/books" method=POST>
  书名：<input type="text" name="name"/><br/>
  作者：<input type="text" name="author"/><br/>
<br/>
  <input type="submit" value="确认添加"/>
</form>
